<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp Verification</title>
</head>
<body>
    <h1>Otp Verification</h1>
    <hr>
    <small>Hello, {{first_name}}</small>

    <p>Your Otp is <span>{{otp_code}}</span></p>

    <p>This otp is valid for 1 day only..</p>
    <em>Thank you</em><br/>
    <em><b>City Of Light Global Church</b></em>

</body>
</html>